body {
	margin: 0;
	padding: 0;
	background-image: url("logo.png"), url("reg-wall.jpg");
	background-repeat: no-repeat;
	background-position: top right, center;
	background-size: auto, cover;
	background-attachment: fixed, fixed;
	z-index: 3,1;
}

.card-body {
	color: black;
	opacity: 0.9;
	background-color: #E8EDF2;
	padding: 20px;
	font-family: 'Hind Vadodara', sans-serif;
}

.one {
	border: 2px solid black;
	padding: 20px;
	width: 40%;
	font-family: 'Hind Vadodara', sans-serif;
}

h1 {
	font-family: 'Hind Vadodara', sans-serif;
	color: #000099;
	font-weight: bolder;
}

.twoone {
	font-family: 'Hind Vadodara', sans-serif;
	border: 2px solid black;
	padding: 20px;
	width: 40%;
}

.twotwo {
	font-family: 'Hind Vadodara', sans-serif;
	border: 2px solid black;
	padding: 20px;
	width: 40%;
	position: absolute;
	top: 66px;
	right: 90px;
}

.threeone {
	font-family: 'Hind Vadodara', sans-serif;
	border: 2px solid black;
	padding: 20px;
	width: 40%;
}

.threetwo {
	font-family: 'Hind Vadodara', sans-serif;
	border: 2px solid black;
	padding: 20px;
	width: 40%;
	position: absolute;
	top:86px;
	right: 90px;
}

.threethree {
	font-family: 'Hind Vadodara', sans-serif;
	border: 2px solid black;
	padding: 20px;
	width: 40%;
	position: relative;
	left: 25%;
	top: 20px;
}

input {
	border: 0.1px solid white;
}