body {
	margin: 0;
	padding: 0;
	background-image: url("logo.png"), url("reg-wall.jpg");
	background-repeat: no-repeat;
	background-position: top right, center;
	background-size: auto, cover;
	background-attachment: fixed, fixed;
	z-index: 3,1;
}

h1 {
	font-weight: bolder;
	font-family: 'Handlee', cursive;
	font-size: 50px;
	color: #214B75;
	text-shadow: 2px 2px #f0f0f5;
}

h2 {
	color: #214B75;
	font-weight: bold;
	font-size: 35px;
	font-family: 'Comfortaa', cursive;
}

h4 {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
	font-size: 20px;
}

h3 {
	font-family: 'Baloo Bhai', cursive;
	font-size: 25px;
}

.instructions {
	padding: 10px;
	font-family: 'Gothic A1', sans-serif;
	border: 0.2px solid black;
}

.btn {
	position: absolute;
	right: 40px;
}